
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');
#navbar{
    position:absolute;
    top:-100vh;
    z-index: 15;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: black;
    animation:animate 0.6s ease-in;
    padding:0 30px;

}
.section1{
    display:flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;    
    margin:20px 0 50px 0;
}
#close{
    border:none;
    background: none;
    color:white;
    display: flex;
    align-items: center;
    /* flex:1; */
    padding:20px;
    font-size: 15px;
    letter-spacing: 1.3px;
    transition: 0.2s;
    width:200px;

    
}
#close:hover{
    letter-spacing: 0;
}
#closebtn{
    color:white;
    margin-right: 25px;
}
.alter{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    line-height:80% ;
    font-weight: 100;
    padding-left: 4px;
}
.ego{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    line-height:80% ;
    font-weight: 100;


}
.langs{
    display:flex;
    gap:20px;
    padding:20px;
    font-size: 10px;
    
}

.section2{
    display:grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: 300px;
    color:white;
    gap:30px;
}
.section2 > div{
    /* border:1px solid white; */
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.heading{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
    transition: 0.4s;
    font-family: 'Roboto Slab', serif;
    align-self: flex-start;

    
    
}



.divider2{
    height:2px;
    width:100%;
    background-color: white;
    transition: 0.3s;
    margin-bottom: 30px;
}
.optioncontainer{
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
}
.heading:hover .divider2{
    
    width:0;
}
.heading:hover{
    letter-spacing: 2px;
}
.options,.metaoptions{
    background:none;
    color:white;
    border:none;
    /* align-self: flex-start; */
    font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 1px;
    padding:10px 0;
    /* margin-right: auto; */
    /* padding-left: 20px; */
    margin:10px 0;
}
.metaoptions{
    border:2px solid white;
    padding:2px 15px;
    border-radius: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    transition: 0.3s;
    
}
.metaoptions:hover{
    background-color: white;
    color:black;
}

.options:hover .divider3{
    width:100%;

}

.divider3{
    height: 2px;
    background-color: white;
    width:0;
    transition: 0.3s;
}





@keyframes animate{
    0%{
        top:-100vh;
    }
    100%{
        top:0;
    }
}

@keyframes close{
    0%{
        top:0;
    }
    100%{
        top:-100vh;
    }
}